@page "/counter"
@inject HttpClient Http


@if (main == null)
{
<p><em>Loading...hmm</em></p> <p> @errormessage </p> }
            else
            {
<table class="table">
    <thead>
        <tr>
            <th>LastFM TopTracks</th>
        </tr>
        <tr>
            <th>Playcount | Name | Listeners</th>
        </tr>
    </thead>

    <tbody>

        @for (int i = 0; i < 20; i++)
        {
@for (int j = 0; j < 20; j++)
{
<tr>
    <td>@main.toptracks.track[j].playcount</td>
    <td>@main.toptracks.track[j].name</td>
    <td>@main.toptracks.track[j].listeners</td>
</tr>}}


    </tbody>
</table>}

@code { private Root main;
    private Boolean found;
    private int count = 0;
    private string errormessage;

    private async Task GetDataAsync()
    {
        try
        {
            string uri = "https://ws.audioscrobbler.com/2.0/?method=artist.gettoptracks&artist=cher&api_key=6fb86347aefc0240d93a8d2a9e08f9d8&format=json";
            main = await Http.GetJsonAsync<Root>(uri);
            found = true;
            errormessage = String.Empty;
        }
        catch (Exception e)
        {

            found = false;
            errormessage = e.Message;


        }
    }





    protected override async Task OnInitializedAsync()
    {
        await GetDataAsync();
    }



    public class Artist
    {
        public string name { get; set; }
        public string mbid { get; set; }
        public string url { get; set; }
    }

    public class Image
    {
       
        public string Text { get; set; }
        public string size { get; set; }
    }

    public class Attr
    {
        public string rank { get; set; }
    }

    public class Track
    {
        public string name { get; set; }
        public string playcount { get; set; }
        public string listeners { get; set; }
        public string mbid { get; set; }
        public string url { get; set; }
        public string streamable { get; set; }
        public Artist artist { get; set; }
        public List<Image> image { get; set; }
        
        public Attr Attr { get; set; }
    }

    public class Attr2
    {
        public string artist { get; set; }
        public string page { get; set; }
        public string perPage { get; set; }
        public string totalPages { get; set; }
        public string total { get; set; }
    }

    public class Toptracks
    {
        public List<Track> track { get; set; }
        
        public Attr2 Attr { get; set; }
    }

    public class Root
    {
        public Toptracks toptracks { get; set; }
    }



}

    }
